@tailwind base;
@tailwind components;
@tailwind utilities;

@layer scrollbar {
    ::-webkit-scrollbar {
        width: 0.6rem;
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.3);
    }

    ::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.3);
    }
}